body {
	font-size: 13px;
}

a {
	outline: none;
}

a:link, a:visited, a:hover {
	color: #3366cc;
}

ul.tabs a {
	font-size: 12px;
	font-weight: normal;
	padding: 5px 20px;
	height: 16px;
	top: 3px;
}

th {
	background: #fff;
	color: #666;
}

th a:link, th a:visited, th a:hover {
	color: #003366;
	width: auto;
}

.usageGraph {
	width: 280px;
	height: 140px;
}
